@import url('https://enztron-temp-deployed-branch.netlify.app/components.css');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root
{
    --dark-grey     : #2F4858;
    --dark-grey-2   : #282c34;
    --royal-blue    : #29517C;
    --sky-blue      : #0e7490;
    --bluish-white  : #F5F7F9;
    --pure-white    : white;
    --red-color     : #ca0e1d;
    --background-color-dull-yellow: #e0e0d4;
    --yellow-background-color     : #efe6e1;
    --dull-grey     : #8f8f8f;
}

html
{
    font-family: 'Comfortaa', cursive;
}

body
{
    font-family: 'Comfortaa', cursive;
}

html, body
{
    height: auto;
    background-color: white;
}

.App {
    min-height: 100%;
    text-align: center;
    background-color: white;
    font-family: 'Comfortaa', cursive;
}

*::-webkit-scrollbar 
{
    height: 1em;
}
  
*::-webkit-scrollbar-track 
{
    background: var(--light-grey);
}
  
*::-webkit-scrollbar-thumb 
{
    background: var(--sky-blue);
}

a::after
{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    background: var(--dark-blue-color);
}

a:hover::after
{
    width: 0;
}