.price-details
{
    text-align: left;
}

.card-basic-horizontal #item-title
{
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-basic-horizontal .item-author
{
    text-align: left;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity-manage-container
{
    display: flex;
    align-items: center;
}

.quantity-change
{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--dull-grey);
}